<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>title</title>
</head>
<frameset rows="81,*,38" frameborder="no" border="0" framespacing="0">
	<frame src="/header" name="topFrame" scrolling="no" noresize="noresize" id="topFrame" title="topFrame" />
	<frameset id="attachucp" framespacing="0" border="0" frameborder="no" cols="190,10,*" rows="*">
		<frame src="/left" name="leftFrame" scrolling="atou" noresize="noresize" />
		<frame id="leftbar" src="/html/swich.html" name="switchFrame" scrolling="no"  noresize="noresize"/>
		<frame src="/notice?action=index" name="mainFrame" scrolling="yes"/>
	</frameset>
	<frame src="/footer" name="bottomFrame" scrolling="no" noresize="noresize" id="bottomFrame" title="foot" />
</frameset>
</html>
