<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>left</title>
<link href="/static/css/css_bak.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/sdmenu.js"></script>
<script type="text/javascript">
var myMenu;
	window.onload = function() {
		myMenu = new SDMenu("my_menu");
		myMenu.init();
		
	};
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
</script>
</head>
<body class="left" style="overflow-x:hidden">
<div class="left_xtgn">
</div>
<div id="my_menu" class="sdmenu">
    {% for module in user.list %}
        <div>
            <span>{{ module.name }}</span>
            {% for func in module.list %}
            <a href="{{module.flag}}/{{func.flag}}" target="mainFrame">{{func.name}}</a>
            {% endfor %}
        </div>
    {% endfor %}

</div>
</body>
</html>
