
<div class="main_table">
	<table width="100%" border="0" cellspacing="0" class="m_table">
		<thead>
			<tr>
				<th width="5%" align="center">编号</th>
				<th width="10%" align="center">名称</th>
				<th width="10%" align="center">描述</th>
				<th width="10%" align="center">创建时间</th>
				<th width="55%" align="center">键-值</th>
				<th width="10%" align="center">操作</th>
			</tr>
		</thead>
		<tbody>
            {% if not list %}
				<tr><td align="center" colspan="11"><font color="red">没有符合条件的记录！</font></td></tr>
            {% endif %}

            {% for tac in list %}
			<tr>
                <td width="5%" align="center">{{ forloop.counter }}</td>
                <td width="10%" align="center">{{ tac.name }}</td>
                <td width="10%" align="center">{{ tac.description }}</td>
                <td width="10%" align="center">{{ tac.dt }}</td>
				<td width="55%" align="center">
                    {% for item in tac.keyvalues %}
                        {{ item.0 }}={{ item.1 }};
                    {% endfor %}
				</td>
				<td width="10%" align="center">
                    <!-- 
                    <p> func.purview_has_update : {{ func.purview_has_update }}</p>
                    <p> purview_has_update : {{ purview_has_update }}</p>
                    <p> func.purview_has_create : {{ func.purview_has_create }}</p>
                    <p> func.purview: {{ func.purview }}</p>
                    -->

                {% if func.purview_has_update %}
                <a href="#" onclick="tac.updateinit({{ tac.id }})" style="text-decoration:none;color:blue">&nbsp;更新&nbsp;</a>
                {% endif %}

                {% if func.purview_has_delete %}
                <a href="#" onclick="tac.del({{tac.id}})" style="text-decoration:none;color:blue">&nbsp;删除&nbsp;</a>
                {% endif %}
				</td>
			</tr>
            {% endfor %}
		</tbody>
	</table>
</div>

